@import "tailwindcss";

:root {
  color-scheme: light dark;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 80%;
  margin: 0.5rem auto;
  & main {
    flex: 1;
  }
}
